.user-row{
    display: flex;
    justify-content: space-around;
    font-size: 33.275px;
    background-color: white;
    margin: 15px 0px;
    border-radius: 11px;
}

.editButton,.deleteButton{
    cursor: pointer;
}
.data-item{
    width: 20%;
    text-align: center;
    margin-block: 20px;
}

.user-actions{
    width: 20%;
    display: flex;
    align-items: center;
    /* gap: 20px; */
    justify-content: space-evenly;
}