.log-row{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: white;
    margin: 15px 0px;
    border-radius: 11px;
}

.logButton{
    cursor: pointer;
}

.recent-data-item{
    display: flex;
    /* text-align: justify; */
    margin-block: 20px;
    align-items: center;
    padding-inline: 1vw;
}

#smol.recent-data-item{
    flex: 1;
}

#med.recent-data-item{
    flex: 1.2;
}

#xs.undoBtn{
    flex: 0.5;
    cursor: pointer;
}


.undoBtn{
    /* width: 20%; */
    display: flex;
    align-items: center;
    /* gap: 20px; */
    justify-content: space-evenly;
    padding-inline: 1vw;
}

