.user-row{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: white;
    margin: 15px 0px;
    border-radius: 11px;
}

.editButton,.deleteButton{
    cursor: pointer;
}
.data-item{
    display: flex;
    padding-inline: 1vw;
    width: 20%;
    /* text-align: center; */
    margin-block: 20px;
    align-items: center;
    justify-content: left;
}

#med.data-item{
    flex: 1;
}

#smol.data-item{
    flex: 0.6;
}
#smol.user-actions{
    flex: 0.7;
}

.user-actions{
    padding-inline: 1vw;
    width: 20%;
    display: flex;
    align-items: center;
    /* gap: 20px; */
    justify-content: space-evenly;
}