.custom-scrollbar {
  height: 100%;
  overflow-y: auto; /* Ensures the scrollbar is shown */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  margin-block: 0.7rem; /* Add margin to the top */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaaaaa; 
  border-radius: 0.625rem;
  min-height: 2rem; /* Ensures the thumb is visible */
}

/* Hide scrollbar buttons (arrows) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
